/* .modal {
    position: relative;
    width: 100%;
    height: 100vh;

} */
.modal-container {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in;
  z-index: 10;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

/* td {
  border: 1px solid black;
} */

.modal {
  max-width: 700px;
  width: 100%;
  z-index: 99;
  text-align: center;
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
  
}
.withdraw-confirmation{
  /* height: min-content; */
  padding: 2rem;
  max-width: 700px;
  width: 100%;
  z-index: 99;
  text-align: center;
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
  min-height: 180px;
  
}
.confirm-btn-cancel{
  background: var(--color-danger);
}
.confirm-btn-cancel:hover{
  background: gray;
  color: white;
}

.modal h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

.modal .btn-container {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  gap: 4%;
}

.modal .close-btn-div {
  text-align: end;
  margin: 0.5rem 0;
}

.modal .close-btn-div button {
  line-height: 1.2rem;
  width: 2rem;
  
 background-color: rgb(244, 242, 242);
 font-weight: 800;
  
}
.close-btn{
  font-size: 24px;
  font-weight: 700;
}

.checkout table {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkout tbody,
.checkout thead {
  display: flex;
  width: 800px;
  position: relative;
  align-items: stretch;
}

.checkout tr {
  display: flex;
  flex-wrap: wrap;
}

/* .checkout tr + .checkout tr {
  border-left: 1px solid black;
  } */

.checkout th,
.checkout td {
  flex-basis: 100%;
  text-align: left;
  display: flex;
  border: none;

  /* adjusst this to adjust row height */

  /* min-height: 80px; */
}

.checkout th:nth-child(3),
.checkout td:nth-child(3) {
  min-height: 200px;

  /* align-items: stretch; */
}

.checkout th {
  font-weight: bold;
  align-items: center;
  border: 1px solid black;
}

.checkout .btn {
  margin-top: 10px;
  width: 100%;

  /* background-color: rgb(13, 13, 72);
    color: white; */
}
