*{
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
.container{
  max-width: 1800px;
  margin: auto;
}
.main-container{
  min-height: 100vh;
  /* background-color: green; */
  position: relative;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 24px;
}
.m-1{
  margin:  0.5rem auto;
}
.m-2{
  margin: 1.0rem auto;
}
.m-3{
  margin: 1.5rem auto;
}
.m-4{
  margin: 2.0rem auto;
}
.mx-1{
  margin: auto 0.5rem;
}
.mx-2{
  margin: auto 1.0rem;
}
.mx-3{
  margin: auto 1.5rem;
}
.mx-4{
  margin: auto 2.0rem;
}
.p-tx5{
  padding-top: 4rem;
}
.btn{
  width: fit-content;
  padding: 0.8rem 0.5rem;
  border-radius: 0.6rem;
  background: var(--color-success);
}
.border-black{
  border: 1px solid black;
}
.flex-grid{
  flex: 1;
}
.gap-5{
  gap: 5%;
}
.gap-2{
  /* gap: ; */
}
:root{
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --header-bg: #026777;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949 ;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radium-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1:1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light)
}

.dark-theme-variable{
  --color-backgroun: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4)
  --box-shadow: 0 2rem 3rem var(var(--color-light))
}

.text-center{
  text-align: center;
}

body{
  user-select: none;
  overflow-x: hidden ;
  font-size: 1.125rem;
  font-family: poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--color-white);
  background-color: var(--color-info-light);
}
.bg-black{
  background-color: white;
}
table{
  width: 100%;
  border-collapse: collapse;

}
table td, table th{
  padding: 1.5rem;
}

table tr:hover{
  background-color: #ddd;
}
table tr:nth-child(even){
  background-color: var(--color-info-dark);
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.flex-justify{
  display: flex;
  align-items: center;
  gap: 3%;

}
.border{
  border: 1px solid black;
}
.flex-justify-row{
  display: flex;
  align-items: center;
}
.flex-justify-space{
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
  
}
.flex-justify-space_around{
  display: flex;
  justify-content: space-around;
  
  
}
.check{
  flex: 1;
  text-align: left;
}
.nav-info{
  flex: 6;
}
.marker{
  flex: 0;
}
.center{
  align-items: center ;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
  align-items: center ;
}
.flex-justify-start{
  display: flex;
  justify-content:flex-start;
  align-items: center ;
  flex-wrap: wrap;
}
.align{
  align-items: center;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;

}
.p-li{
  padding: 7px 35px;
}
nav .menu{
  display: none;
}
.icon-menu{
  font-size: 1.5rem;
}
.sub-container{
  width: 100%;

}
.inner-container{
  width: 80%;
  margin: auto;

}
.black{
  color: #181a1e;
 }
.home-banner{
  margin: 3rem auto;
  background-color: var(--color-white);
  padding-bottom: 2rem;

  
}
.platform{
  background: var(--color-white);
}
.home-banner-icon{
  min-width: 250px ;
  display: flex;
justify-content: center;
align-items: center;
}
.home-banner-details{
  padding: 1rem;
}

.fit-container{
  width: 80%;
  margin: auto;
}
.flex-1{
  flex: 1;
  min-width: 3rem;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3
}
.wallet-container{
  margin-bottom: 23px;

}
/* =======================ACCOUNT================= */
.account-container{
  color: var(--color-dark);
}
.account-nav{
  width: 100%;
  color: var(--color-dark);
  }
.account-container h1{
  font-size: 3.4rem;
  color: var(--color-dark);
}
.account-nav a{
  color: var(--color-dark);
  font-weight: 600;
  display: flex;
  padding: 7px 27px;

  /* padding: 7px 17px; */


}
.wallet{
  /* padding: 22px;
  border: 1px solid black; */
}

.wallet-container .wallet div{
  padding: 23px;
}
.wallet-container .wallet .border-left{
  border-right: 1px solid #202528;
}
.account-nav ul li{
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-dark);
  /* flex: 1; */
}
.normal{
  
}
.link-decor{
  background: black;
  color: white !important;
 


}

/* ===================================footer========================== */
footer{
  background:var(--color-dark);
  /* position: relative; */
  /* bottom: 0; */
  /* background-color: red; */
}
.footer-container{
  width: 100%;
  padding-top: 33px;


}
.inner-footer-container{
  display: grid;
  grid-template-columns: auto auto auto auto;

}
.inner-footer-container >div{
  border-right: 1px solid #181a1e;
  align-items: stretch;
  padding-left: 2.8rem;
}
.inner-footer-container >div ul{
   display: block;
}
.inner-footer-container >div li{
  /* background-color: yellow; */
  display: block;
  width: 100%;
}
.inner-footer-container >div a{
  display: flex;
  /* box-sizing: content-box; */

  transition: all 0.3s ease;
  /* background-color: red; */
}
.inner-footer-container >div a:hover{
  margin-left: 23px;
}
.inner-footer-container >div:last-child{
  border: none;
}
.question-bar{

}
.question-bar ul li{
  background: var(--color-white);  
  padding: 2rem 0;
  margin-top: 1.5rem;
  padding-left: 1rem;
}
/* ========================Offering==================== */
.offer-cards{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  height: max-content;
  
}
.card{
  background: var(--color-white);
  padding: var(--card-padding);
  margin-bottom: 2%;
box-shadow: var(--box-shadow);}
.card-img{
  display: flex;
  background: var(--color-info-light);
  align-items: center;
   height: 130px;
}
.card-img img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px){
  body{
    font-size: 1rem;
  }
  .flex-justify-space,  .flex-justify-center{
    flex-direction:column;
    align-items: flex-start;
  }
  .container{
    width: 100%;
    background-color: red;
  }
  .flex-justify{
    flex-direction: column
  };
 .inner-container{
  width: 95%;
 }
 .content-container{
  width: 90%;
  margin: auto;

 }
 .platform{
  width: 100%;
  margin-bottom: 1rem;
 }
 .flex-justify-row{
  flex-direction: row;
 }
  nav .menu{
    display: block;
  }
  .gap-5{
    gap: 2%;
  }
  .table-div{
    display: none;
  }
  .row{
    flex-direction: row;
  }
  footer{
    width: 100%;
  }
  .inner-footer-container{
  
    grid-template-columns: auto;
    gap: 1%;
  
  }
  .inner-footer-container >div{
    border-right: none;

    border-bottom: 1px solid #181a1e;
    align-items: stretch;
    padding-left: 2.8rem;
  }
  .offer-cards{
      grid-template-columns: 1fr;
   
  }
}
