@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
}

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --header-bg: #026777;
  --color-semi: #026777;

  --color-warning: #fb5;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-background-dark: rgb(26, 27, 29);
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --padding-2: 2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variable {
  --color-backgroun: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
  user-select: auto;
  pointer-events: auto;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "poppins", sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
  width: 100vw;
  color: var(--color-white);
  overflow-x: hidden;
}

.container {
  max-width: 1800px;
  min-height: calc(100vh - 175px);
  margin: auto;
}

.p-1{
  padding: 0.5rem;
}
.p-2{
  padding: 1rem;
}
.p-3{
  padding: 1.5rem;
}
.p-4{
  padding: 2rem;
}
.p-5{
  padding: 2.5rem;
}
.p-6{
  padding: 3rem;
}
.p-7{
  padding: 3.5rem;
}
.p-8{
  padding: 4rem;
}.p-9{
  padding: 4.5rem;
}
.p-10{
  padding: 5rem;
}
.px-1{
  padding-left: 0.5rem;
  padding-right: 0.5rem;}
.px-2{
  padding-left: 1rem;
  padding-right: 1rem;}
.px-3{
  padding-left: 1.5rem;
  padding-right: 1.5rem;}
.px-4{
  padding-left: 2rem;
  padding-right: 2rem;}
.px-5{
  padding-left: 2.5rem;
  padding-right: 2.5rem;}
.px-6{
  padding-left: 3rem;
  padding-right: 3rem;}
.px-7{
  padding-left: 3.5rem;
  padding-right: 3.5rem;}
.px-8{
  padding-left: 4rem;
  padding-right: 4rem;}
  .px-9{
  padding-left: 4.5rem;
  padding-right: 4.5rem;}
.px-10{
  padding-left: 5rem;
  padding-right: 5rem;
}.py-1{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;}
.py-2{
  padding-top: 1rem;
  padding-bottom: 1rem;}
.py-3{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;}
.py-4{
  padding-top: 2rem;
  padding-bottom: 2rem;}
.py-5{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;}
.py-6{
  padding-top: 3rem;
  padding-bottom: 3rem;}
.py-7{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;}
.py-8{
  padding-top: 4rem;
  padding-bottom: 4rem;}
  .py-9{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;}
.py-10{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.text-xs{
	font-size: 12px;
}
.text-sm{
	font-size: 14px;
}.text-base{
	font-size: 16px;
}.text-lg{
	font-size: 18px;
}.text-xl{
	font-size: 20px;
}
.text-2xl{
	font-size: 22px;
}

.font-normal{
	font-weight: 400;
}
.font-medium{
	font-weight: 500;
}
.font-semibold{
	font-weight: 600;
}
.font-bold{
	font-weight: 700;
}
.bg-green{
	background-color: green !important;
}
.bg-blue-light{
	background-color: rgb(68, 68, 230) !important;
}
.bg-gray-light{
	background-color: rgb(205, 205, 205) !important;
}
.bg-gray-light-trans{
	background-color: rgba(205, 205, 205, 0.6) !important;
}
.bg-gray-dark{
	background: #323746;

}
.bg-gray-dark-trans{
	background: rgba(51, 56, 72, 0.7)

}
.bg-gray-light{
	background: #5f636e;

}
.bg-red{
  background-color: red;
}
.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.graph{
  max-width: 600px;
  height: 300px;
}
.justify-between{
  justify-content: space-between;
}
.items-center{
  align-items: center;
}
.flex-1{
  flex: 1;
}
.w-max-400{
  max-width: 400px;
}
.w-max-900{
  max-width: 900px;
}
.w-max-1100{
  max-width: 1100;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.rounded-xs{
  border-radius: 6px;
}
.rounded-sm{
  border-radius: 8px;
}
.rounded-base{
  border-radius: 11px;
}
.rounded-lg{
  border-radius: 1rem;
}
.text-lg{
  font-size: 18px;
}
.text-xl{
  font-size: 20px;
}
.text-2xl{
  font-size: 24px;
}
.text-3xl{
  font-size: 28px;
}
.text-4xl{
  font-size: 32px;
}
.text-5xl{
  font-size: 36px;
}
.font-semibold{
  font-weight: 600;
}
.w-3-4{
  max-width: 1500px;
}
.m-h-300{
  min-height: 300px;
}
.grid
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
.w-max-800{
  width: 100%;
  max-width: 800px;
}
.w-max-1170{
  width: 100%;
  max-width: 1170;

}
.text-left{
  text-align: left;
}

.m-auto{
  margin: auto;
}
.ml-auto{
  margin-left: auto;
}
.border{
	border: 1px solid gray
}

.capitalize{
  text-transform: capitalize;
}
button{
  background-color: white;
  border: 1px solid rgb(227, 224, 224);
  padding: 0.1rem;
  border-radius: 0.61rem;
}
.warn-info{
  font-size: 28px;
  font-weight: 600;
}
.box-shadow{
  box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.6) ;
}
.dark-text {
  color: var(--color-background-dark);
}
/* .grid-card{
  grid-template-columns: ;
} */

.grid{
  display: grid;
}
.text-wrap{
  text-wrap: wrap;
}
.grid-2{
  grid-template-columns: 1fr 1fr;
}
.grid-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.red-text {
  color: red;
}

.main-container {
  min-height: 100vh;
  position: relative;
}

.content-container {
  max-width: 1450px;
  min-height: 60vh;
  margin: 0px auto;
  color: var(--color-dark);
  padding: 1.8rem;
}

.content-container h4,
.content-container h2,
.content-container h3 {
  font-weight: 400;
}
.my-0{
  margin: 0 !important;
}
.my-1{
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-2{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.max-width-md {
  max-width: 800px;
  margin: auto;
}

.grid-display {
  display: grid;
}
.grid-display-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-display-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-display-4 {
  grid-template-columns: repeat(4, 1fr);
}
.bg-white{
  background: white;
}
.grid-display-assets {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 2fr;
}

.border-b {
  border-bottom: 1px solid var(--color-dark-variant);
}

.flex-stretch{
  display: flex;
  align-items: flex-start;
  /* justify-content: stretch; */

}

/* ====================asset details ======================= */

.asset-details {
  /* padding: 3rem; */
}

.asset-details .detail-list p {
  padding: 0.3rem 0.2rem;
  font-weight: 500;
}

.asset-details .detail-foots {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.asset-details .detail-foots span {
  padding: 0.4rem 0.8rem;
  margin: 1rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  white-space: nowrap;
}

.asset-details .detail-foots span:hover {
  box-shadow: 0 0 2px rgb(193, 192, 192);
}

.overview ul li {
  padding-left: 2rem;
  list-style: disc;
}

.asset-details .overview p {
  padding: 0.2rem 1rem;
  line-height: 1.8rem;
  margin: 0.8rem 0;
}

.asset-details .overview .overview-info{

}

.asset-details .overview .overview-info img{
  width: 100%;
}

.asset-details .overview .overview-info .overview-img {
  height: 300px;
}

/* ======================About========================== */
.about .reveals {
  padding: 96px 115px;
  background-color: rgb(247, 248, 249);
  border-radius: var(--border-radius-3);
}

.about .reveals .grid-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 2%;
}

.about .reveals .grid-display > div {
  padding: 20px;
  border-radius: var(--border-radius-2);
}

.about .reveals h4,
.about .reveals p {
  margin: 2px 0;
}
.history-h4{
  font-size: 20px;
  margin: 0;
}
.about .mission {
  border-radius: var(--border-radius-2);
  margin: 23px auto;
  padding: 20px;
}

.container-fit {
  max-width: 1250px;
  margin: auto;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

.m-1 {
  margin: 0.5rem auto;
}

.m-2 {
  margin: 1rem auto;
}

.m-3 {
  margin: 1.5rem auto;
}

.m-4 {
  margin: 2rem auto;
}

.mx-1 {
  margin: auto 0.5rem;
}

.mx-2 {
  margin: auto 1rem;
}

.mx-3 {
  margin: auto 1.5rem;
}

.mx-4 {
  margin: auto 2rem;
}

.my-4 {
  margin: 2rem auto;
}
.my-3 {
  margin: 1rem auto;
}

.mb-3 {
  margin-bottom: 2rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 1.5rem;
}
.mr-4 {
  margin-right: 2rem;
}
.mr-5 {
  margin-right: 2.5rem;
}


.p-tx5 {
  padding-top: 4rem;
}

.b-radius-2 {
  border-radius: var(--border-radius-2);
}
.b-radius-1 {
  border-radius: var(--border-radius-1);
}

.shadow {
  box-shadow: 0 0 3px rgb(193, 192, 192);
}

.radius {
  border-radius: 1rem;
}


.btn {
  width: fit-content;
  min-width: 180px;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
  text-align: center;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
  background-color: rgb(171, 247, 228);
  border: 1px solid rgb(171, 247, 228);
  border-radius: 6px;
  color: rgb(16, 92, 78);
}

.prev-offer .btn {
  font-size: 20px;
}

.btn:hover {
  background: rgb(56, 153, 132);
  color: #fff;
}

.border-black {
  border: 1px solid black;
}

.border-light {
  border: 1px solid rgb(216, 220, 226);
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
}

.text-xl {
  font-size: 1.4rem;
}

.flex-grid {
  flex: 1;
}

.flex-grid-2 {
  flex: 2;
}

.flex-grid-3 {
  flex: 3;
}

.gap-5 {
  gap: 5%;
}

.gap-2 {
  gap: 2%;
}
.gap-3 {
  gap: 3%;
}

.text-center {
  text-align: center;
}

.align-strecth {
  align-items: stretch;
}
.items-center {
  align-items: center;
}

.bg-black {
  background-color: white;
}
.confirm-box{
  width: 80%;

}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.text-dark {
  color: var(--color-dark);
}
.flex{
  display: flex;
}
.bg-green{
  background-color: #04aa6d;
}
.justify-center{
  justify-content: center;
}
.hide-display {
  height: 0;
  overflow: hidden;
  transition: all 3s ease;
}

.rotate {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  padding: 1.5rem;
}

table tr:hover {
  background-color: #ddd;
}

/* table tr:nth-child(even) {
  background-color: var(--color-info-dark);
} */

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.flex-justify {
  display: flex;
  align-items: center;
  gap: 3%;
}

.border {
  border: 1px solid black;
}

.border-light {
  border: 1px solid #cbcbcb;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-justify-row {
  display: flex;
  align-items: center;
}

.flex-justify-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

.flex-justify-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-space_around {
  display: flex;
  justify-content: space-around;
}

.check {
  flex: 1;
  text-align: left;
}

.nav-info {
  flex: 6;
}

.marker {
  flex: 0;
}
.approve{
  background-color: #04aa6d;
  padding: 0.7rem 1rem;
}
.center {
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.align {
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.p-li {
  padding: 7px 25px;
}

nav .menu {
  display: none;
}

.icon-menu {
  font-size: 1.5rem;
}

.sub-container {
  width: 100%;
}

.inner-container {
  width: 80%;
  margin: auto;
}

.black {
  color: #181a1e;
}
.pending-btn{
  background: orange;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
  color: white;
}

.home-banner {
  margin: 3rem auto;
  background-color: var(--color-white);
  padding-bottom: 2rem;
}

.platform {
  background: var(--color-white);
}

.home-insight-info {
  margin-bottom: 3rem;
  max-width: 1100px;

  /* border: 1px solid black; */
}

.home-insight-info img {
  width: 100%;
}

.home-banner-icon {
  background-color: #f6f9f9;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner-details {
  padding: 1rem;
}
.home-ad .backfiller{
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: auto;
}
.home-ad .slide1{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(44, 97, 130, 0.4)), url("../public/images/how-it-works.jpg");

}
.home-ad .slide2{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(44, 97, 130, 0.4)), url("../public/images/background/VcDjRA.jpg");

}.home-ad .slide3{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(44, 97, 130, 0.4)), url("../public/images/background/5625.jpg_wh860.jpg");

}.home-ad .slide4{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(44, 97, 130, 0.4)), url("../public/images/background/photo-1462899006636-339e08d1844e.avif");

}
.home-ad .backfiller::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  transition: all 0.8s ease;

  background: linear-gradient(rgba(200, 200, 200, 0.2), rgba(44, 97, 130, 0.4));

}
.home-ad .backfiller:hover::after{
  width: 100%;
}
.home-ad h4{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 'Arial Narrow', Arial, sans-serif;  font-size: 34px;
  font-weight: 400;
}
.home-ad p{
  line-height: 2rem;
  font-size: 16px;
}
.fit-container {
  width: 80%;
  margin: auto;
}

.flex-1 {
  flex: 1;
  min-width: 3rem;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.wallet-container {
  margin-bottom: 23px;
}
.wallet-container .w-info{
  color: var(--color-semi);
  

}
.intro span{
  font-size: 1.3rem;
}
.wallet-card{
  
}
.wallet-container .wallet {
  padding: 23px;
}

.wallet-info select, .wallet-info input{
  width: 100%;
  padding: 0.7rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0.7rem;
  color: var(--color-dark-variant);
  
}
.wallet-info select:focus{
  outline: none;
}

.text-blue{
  color: blue;
}

.text-green{
  color: green;
}

.text-gray {
  color: var(--color-info-dark);
}
.text-light-gray {
  color: var(--color-dark-variant);
}

.text-light {
  color: rgb(164, 164, 164);
}
.text-white {
  color: white
}
.text-norm{
  font-size: 0.9rem;
  color: #677483;
}

.text-red {
  color: red;
}

h6 {
  font-size: 0.8rem;
}
.bg-light{
  background: #f8f8f8;
}
.bg-semi{
  background: var(--color-semi);
}
.text-semi{
  color: var(--color-semi);
}
.name{
  font-size: 1.6rem;
  font-weight: bold;

}
.wallet{
  color: var(--color-dark-variant);
  font-size: 1rem;
}
.wallet .welcome{
  font-weight: 500;
  font-size: 1.2rem;
}
/* =======================ACCOUNT================= */
.account-container {
  padding: 2rem;
  color: var(--color-dark);
  max-width: 1400px;
  width: 100%;
  background: url("../public/images/background/bg-logo.jpeg");
  background-position: center;
  backdrop-filter: var(--color-info-dark);
  background-repeat: no-repeat;
}

.account-nav {
  width: 100%;
  color: var(--color-dark);
}

.account-container h1 {
  font-size: 3.4rem;
  color: var(--color-dark);
}

.account-container h5 {
  font-weight: 600;
}

.account-nav a {
  color: var(--color-dark);
  font-weight: 600;
  display: flex;
  padding: 7px 27px;
}

.account-container .investor table {
  margin-bottom: 2rem;
}

.account-container .investor tr {
  border-bottom: 1px solid var(--color-dark-variant);
}

.account-notice {
  padding: 2rem;
}

.assets {
  flex-flow: row wrap;
  gap: 3%;
}

.assets span {
  border: 1px solid var(--color-dark);
  margin-bottom: 24px;
  white-space: nowrap;
  padding: 8px 12px;
  border-radius: 4px;
}

.assets span:hover {
  background-color: var(--color-dark);
  color: white;
}

.block {
  display: block;
}


.wallet-container .wallet .border-left {
  border-right: 1px solid #202528;
}

.account-nav ul li {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-dark);
}

.normal {
  color: #363949;
}

.link-decor {
  background: black;
  color: white !important;
}

/* ==========================investment==================== */
.investment {
  flex-wrap: wrap;
}

.investment h1 {
  font-size: 52px;
}

.investment-left-banner p {
  margin-bottom: 34px;
}

.investment-left-banner .btn {
  padding: 13px 24px;
  cursor: pointer;
  font-family: Linik Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.prop-width {
  width: 80%;
}

.invest-prop {
  padding: 1.4rem;
  background: rgba(0, 0, 0, 0.3);
}

.invest-prop h4 {
  text-align: center;
  font-size: 1.3rem;

}

.prop-width .btn {
  width: 100%;
  display: block;
}

.investment-left-banner {
  flex: 1;
  padding: 1rem;
}

.investment-right-banner {
  flex: 1;
}

.investment-cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  height: max-content;
}

.investment-card {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 12px;
  margin: 8px auto;
  width: 100%;
  border-radius: 8px;
}

.investment-card:hover {
  background: rgba(255, 255, 255, 0.1);
}


/* ======================How-It_works============================== */
.howitwork-content {
  max-width: 1250px;
  margin: 2rem auto;
  border-radius: 16px;
  overflow: hidden;
  color: #181a1e;
}

.howitwork-content h2 {
  font-weight: 600;
}

.investment-process {
  margin: 1.5rem auto;
  border: 1px solid var(--color-dark-variant);
  border-radius: var(--border-radius-3);
  padding: 1rem;
}

.explore-cards {
  background-color: #026777;
  border-radius: var(--border-radius-2);
  gap: 2%;
}

.explore-card {
  margin: 2rem auto;
  max-width: 350px;
  box-shadow: 0 0 4px rgba(91, 92, 99, 0.18);
}

.explore-card.card {
  box-shadow: rgba(0, 0, 0, 0.06) 0 4px 8px;
  border: 1px solid rgb(216, 220, 226);
  border-radius: var(--border-radius-2);
  min-height: 430px;
}

.investment-process .right,
.investment-process .eft {
  max-width: 480px;
}

.howitwork-content .info-bullets span {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(171, 247, 228);
}

.explore-cards h3 {
  font-family: sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 27px;
}

.explore-cards .left h5 {
  margin: 0;
}

.explore-cards .ratio p,
.explore-cards .period p {
  margin: 0;
  font-size: 0.85rem;
  background-color: #04aa6d;
}

.explore-cards .period p {
  margin: 0;
  background-color: #04aa6d;
}

.button-div {
  margin-top: 28px;
  display: flex;
}

.howitwork-content .btn {
  border: 1px solid var(--color-dark);
  background-color: #181a1e;
  margin-right: 18px;
  font-size: 14px;
  color: white;
}

.howitwork-content .btn.rec {
  background-color: #dce1eb;
  color: #181a1e;
}

.invest {
  padding: 40px;
  margin: 2rem auto;
  background-color: #04aa6d;
  border-radius: var(--border-radius-2);
}

.invest .right {
  max-width: 480px;
}

.earn {
  margin: 2rem auto;
}

.earn img {
  width: 100%;
}

.testimonials {
  margin: 3rem auto;
}

.testimonials .left {
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 3rem;
  border-radius: 6px;
}

.behind-the-scenes .cont {
  max-width: 720px;
}

.testimonials .left .cont {
  max-width: 375px;
  margin: auto;
}

.testimonials .sub-testimonial {
  margin: 28px auto;
}

.testimonials .testimonial-card {
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 220, 226);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 4px 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  min-height: 420px;
}

.testimonial-card .top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.testimonials small {
  font-size: 0.7rem;
  margin-top: 0;
}

.testimonial-card h3 {
  padding: 0;

  /* background-color: red; */
  margin-top: auto;
  margin-bottom: 0;
}

.behind-the-scenes .advantage {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  margin-top: 32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  row-gap: 48px;
}

.advantage .add-card .ad-write {
  padding: 0;
}

.advantage h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.footbanner {
  margin: 3rem auto;
  max-width: 1220px;
  padding: 2.5rem 0 5rem;
  color: #fff;
  text-align: center;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-2);
}

.footbanner .btn-div,
.btn-div {
  margin: 12px auto;
}

.footbanner .btn {
  background-color: rgb(171, 247, 228);
  color: rgb(16, 92, 78);

  /* display: block; */
}

.howitwork-content .footbanner .creed {
  max-width: 450px;
  margin: auto;
  text-align: center;

  /* background-color: red; */
}

.offer-cards ul {
  width: 100%;
}

.prev-offer a {
  margin-bottom: 30px;
}
.portfolio-img {
  width: 300px;
  height: 200px;
  background-color: #0267771e;
}
.portfolio-img img{
  height: 100%;
  object-fit: contain;
}
/* ===================================footer========================== */
footer {
  background: var(--color-dark);
}

.footer-container {
  width: 100%;
  padding-top: 33px;
}

.inner-footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.inner-footer-container > div {
  border-right: 1px solid #181a1e;
  align-items: stretch;
  padding-left: 2.8rem;
}

.inner-footer-container > div ul {
  display: block;
}

.inner-footer-container > div li {
  /* background-color: yellow; */
  display: block;
  width: 100%;
}

.inner-footer-container > div a {
  display: flex;

  /* box-sizing: content-box; */

  transition: all 0.3s ease;

  /* background-color: red; */
}

.inner-footer-container > div a:hover {
  margin-left: 23px;
}

.inner-footer-container > div:last-child {
  border: none;
}

.question-bar {
  color: inherit;
}

.question-bar ul li {
  background: var(--color-white);
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

/* ========================Offering==================== */
.offer-cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  height: max-content;
}

.offer-cards span.type {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  color: rgb(177, 180, 185) !important;
}

.card {
  background: var(--color-white);
  padding: var(--card-padding);
  margin-bottom: 2%;
  box-shadow: var(--box-shadow);
}

.card-img {
  display: flex;
  background: var(--color-info-light);
  align-items: center;
  height: 130px;
}

.offer-card-div {
  border-radius: var(--border-radius-1);
  padding: 8px;
  transition: 0.3s all ease;
  overflow: hidden;
  position: relative;
}

.offer-card-div::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../public/images/background/3lioEEoPbj5HzbPGetcbF2t5.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inset: 0;
  scale: 1.05;
}

.xyz {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: rgb(26, 27, 29, 0.2);
  transition: all 0.4s ease 0s;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 9px;
}

.tiny-icon-div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  gap: 8px;
  max-width: 100%;
  overflow-y: auto;
}

.tiny-c {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(216, 220, 226);
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: row nowrap;
  min-height: 26px;
}

.tiny-c p {
  margin: 0;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.offer-cards ul li {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark);
}

.offer-cards ul li:last-child {
  border-bottom: none;
}

.lock {
  background: white;
  padding: 12px 20px;
  margin: 2px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.lock-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(193, 192, 192);
  padding: 24px;
}

.lock-icon svg {
  font-size: 80px;
}

.lock .info {
  padding: 0 12px;
  flex: auto;
  color: var(--color-dark);
  font-weight: 600;
}

.lock .reg-div .btn {
  display: block;
}

.prev-offer {
  color: black;
}

.prev-offer .offer-link {
  display: flex;
}

.prev-offer .offer-link span {
  padding: 6px;
  background: var(--color-info-dark);
  font-size: 1rem;
}

.small-info {
  padding: 28px 1rem;
  text-align: justify;
  font-size: 12px;
}

.prev-offer-btn-div {
  padding: 23px;
  margin: 20px auto;
}

/* ===================Performance========================= */

.performance {
  color: #181a1e;
  margin: 2rem auto;
  padding: 0 0 3rem;
}

.performance h1,
.performance h2,
.performance h3,
.performance h4 {
  font-weight: 400;
}

.performance .insight .flex-left {
  display: flex;
}
.chart-box {
  min-height: 300px;
}
.performance .chart-table .title {
  display: flex;
  justify-content: flex-end;
}

.performance .chart-table .title a {
  border-radius: var(--border-radius-1);
  padding: 6px 12px;
  margin-left: 6px;
  border: 1px solid var(--color-dark);
}

.performance .chart-table .title a.active {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.performance .chart-table .title span:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

hr {
  color: #181a1e;
  border: 1px solid var(--color-info-dark);
}

.platform-performance {
  /* color: #000; */
}

.offering .offering-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 2%;
}
.offering-background{
  background: linear-gradient(black, var(--header-bg));
}
.offering .offering-tabs > div, .offering .offering-tabs > a {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  background-color: #04aa6d;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.performance .offering .offering-tabs > div p {
  margin-left: 8px;
}

.performance .investor-insights .insight {
  height: 120px;
  margin-bottom: 3rem;
}

.portfolio-chart {
  display: flex;
}

.chart {
  /* height: 70px; */
}

.get-started {
  color: var(--color-dark);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started .proceed {
  max-width: 500px;
  border-radius: var(--border-radius-3);
  border: 1px solid black;
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 100%;
  display: inline-block;
}

.get-started .proceed:hover {
  box-shadow: none;
}

.get-started .proceed h3 {
  font-size: 2rem;
}
.assets-subhead{
  background: linear-gradient(gray, white);
}

@media screen and (max-width: 1200px ){
  .container-fit{
    max-width:1800 ;
    padding: 1rem;
  }
}



@media screen and (max-width: 768px) {
 
  h2{
    font-size: 1.5rem;
  }
  .home .text-4xl{
    font-size: 22px ;
  }
  .show-fig .flex{
    flex-direction: column;

  }
  .show-fig.p-5{
    padding: 1rem;
  }
  .show-fig .p-2{
    padding: 0;
  }
  .backfiller{
    text-align: center;
  }
  .backfiller .blank{
    display: none;
  }
  .backfiller h4{
    font-size: 28px;
  }
  .m-4 {
    margin: 2px;
  }
  .grid-2{
    grid-template-columns: 1fr;
  }
  .home-banner-icon {
    height: 100px;
    padding: 0;
  }

  .home-banner-icon img {
    height: 100%;
  }

  .investment h1 {
    font-size: 30px;
  }

  .investment-right-banner {
    width: 100%;
  }

  .howitwork-content {
    margin: 2rem;
  }

  .howitwork-content .btn {
    margin-right: 10px;
    white-space: nowrap;
    padding: 13px 13px;
  }

  .invest .btn {
    display: inline-block;
    margin: 0.6rem 0;
  }

  .investment-left-banner .btn {
    display: block;
    width: 100%;
  }

  .investment-cards {
    padding: 2rem 10px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .prop-width {
    width: 100%;
  }

  .investment-card {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.7rem 0;
  }
  .p-5{
    padding: 1.5px;
  }

  .button-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  .howitwork-content .btn {
    font-size: 14px;
    color: white;
    margin-bottom: 0.7rem;
  }

  .investment-card span {
    padding: 9px;
  }

  body {
    font-size: 1rem;
  }

  .asset-details .overview .overview-info {
    flex-direction: column;
  }

  .flex-justify-space,
  .flex-justify-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .performance .investor-insights .insight h3 {
    font-size: 14px;
    color: #026777;
  }

  .performance .investor-insights .insight .flex-justify-center {
    align-items: center;
  }

  .container {
    font-size: 1rem;
    width: 100%;
  }

  .container {
    padding: 12px;
  }

  .container h2,
  .container h4,
  .container p {
    margin: 9px;
    font-size: 0.8rem;
  }

  .container h2 {
    font-size: 26px;
  }

  .flex-justify {
    flex-direction: column;
  }

  .inner-container {
    padding-top: 20px;
    width: 95%;
  }

  .content-container {
    width: 100%;
    padding: 10px;
    margin: auto;
  }

  .platform {
    width: 100%;
    margin-bottom: 1rem;
  }

  .flex-justify-row {
    flex-direction: row;
  }

  nav .menu {
    display: block;
  }

  .gap-5 {
    gap: 2%;
  }

  .table-div {
    display: none;
  }

  .row {
    flex-direction: row;
  }

  .grid-display {
    grid-template-columns: auto;
  }

  footer {
    width: 100%;
  }

  .inner-footer-container {
    grid-template-columns: auto;
    gap: 1%;
  }

  .inner-footer-container > div {
    border-right: none;
    border-bottom: 1px solid #181a1e;
    align-items: stretch;
    padding-left: 2.8rem;
  }

  .offer-cards {
    grid-template-columns: 1fr;
  }

  .investment-process .right,
  .investment-process .eft {
    margin: auto;
    padding-bottom: 3rem;
  }

  .earn .right {
    order: 1;
  }

  .earn .left {
    order: 2;
  }

  .testimonials {
    position: relative;
    background-color: #181a1e;
  }

  .testimonials h2 {
    font-size: 24px;
  }

  .testimonials .left {
    width: 100%;
    margin: 0;
    border-radius: 6px;
    padding: 1rem 0;
  }

  .testimonials .right {
    order: 1;
    width: 100%;
  }

  .testimonials .left .cont .flex-justify-space {
    flex-direction: row;
    justify-content: space-around;
  }

  .testimonials .left span {
    font-size: 12px;
  }

  .testimonials .testimonial-card {
    margin: auto;
    background-color: green;
  }

  .offering .offering-tabs {
    grid-template-columns: repeat(2, 1fr);
  }

  .performance .chart-table .title span {
    font-size: 0.85rem;
  }

  .performance .chart-table .title {
    justify-content: center;
  }

  .behind-the-scenes .advantage {
    grid-template-columns: auto;
    row-gap: 12px;
  }

  footer h3 {
    font-size: 1rem;
  }

  footer li {
    padding: 0.4rem;
  }

  footer a {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .footbanner .creed .btn {
    display: block;
    margin: auto;
    padding: 8px;
  }
  .offering{
    padding: 0.8rem;
  }

  .offering .offering-tabs > div, .offering .offering-tabs > a {
    padding: 0;
  }

}

::selection{

  background: #026777;
  color: white;
}
::-webkit-scrollbar{
  width: 10px;
  background: var(--greyBg);
  
}
::-webkit-scrollbar-thumb{
  background: var(--color-semi);
  border-radius: 10px;
  cursor: pointer;
}
