*{
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding: 0;
}
h4{
  font-size: 24px;
}
:root{
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --header-bg: #026777;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949 ;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radium-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1:1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light)
}

.dark-theme-variable{
  --color-backgroun: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4)
  --box-shadow: 0 2rem 3rem var(var(--color-light))
}

.text-center{
  text-align: center;
}

body{
  user-select: none;
  overflow-x: hidden ;
  font-size: 1rem;
  font-family: poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--color-white);
}
.flex-justify{
  display: flex;
  justify-content: space-between;
}
.flex-justify-space{
  display: flex;
  justify-content: space-between;
  
}
.check{
  flex: 1;
  text-align: left;
}
.nav-info{
  flex: 6;
}
.marker{
  flex: 0;
}
.center{
  align-items: center ;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
  align-items: center ;
}
.flex-justify-start{
  display: flex;
  justify-content:flex-start;
  align-items: center ;
  flex-wrap: wrap;
}
.align{
  align-items: center;
}
ul{
  list-style: none;
  /* background-color: #111e88; */
}
a{
  text-decoration: none;

}
.p-li{
  padding: 7px 35px;
}
nav .menu{
  display: none;
}
.icon-menu{
  font-size: 1.5rem;
}
@media screen and (max-width: 768px){
  .flex-justify-space,  .flex-justify-center{
    flex-direction:column;
    align-items: flex-start;
  }
 
  nav .menu{
    display: block;
  }
}
